@model List<Incident>

@{
    ViewBag.Title = "Incident Manager";
}

<h1>@ViewBag.Title</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Customer
            </th>
            <th>
                Product
            </th>
            <th>
                Date Opened
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var incident in Model)
        {
            <tr>
                <td>
                    @incident.Title
                </td>
                <td>
                    @incident.Customer
                </td>
                <td>
                    @incident.Product
                </td>
                <td>
                    @incident.DateOpened
                </td>
                <td>
                    <a asp-controller="Customer" asp-action="Edit" asp-route-id="@incident.CustomerID" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@incident.CustomerID" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p class="row">
    <div class="align-items-center col-md-6">
        <a asp-action="Add" class="btn btn-outline-primary">Add</a>
    </div>
</p>
