@model List<SportsPro.Models.Technician>

@{
    ViewBag.Title = "Technician Manager";
}

<h1>@ViewBag.Title</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var technician in Model.Where(i => i.TechnicianID != -1))
        {
            <tr>
                <td>
                    @technician.Name
                </td>
                <td>
                    @technician.Email
                </td>
                <td>
                    @technician.Phone
                </td>

            <td>
                    <a asp-action="Edit" asp-route-id="@technician.TechnicianID" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@technician.TechnicianID" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p class="row">
    <div class="align-items-center col-md-6">
        <a asp-action="Add" class="btn btn-outline-primary">Add</a>
    </div>
</p>