@model List<Customer>

@{
    ViewBag.Title = "Customer Manager";
}

<h1>@ViewBag.Title</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                City
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var customer in Model) {
        <tr>
            <td>
                @customer.FullName
            </td>
            <td>
                @customer.Email
            </td>
            <td>
                @customer.City
            </td>
            <td>
                    <a asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.CustomerID" class="btn btn-primary">Edit</a>
                <a asp-action="Delete" asp-route-id="@customer.CustomerID" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p class="row">
    <div class="align-items-center col-md-6">
        <a asp-action="Add" class="btn btn-outline-primary">Add</a>
    </div>
</p>
